- name: Kubernetes Prerequisites
  hosts: all
  become: true
  tasks:
    - name: Ping my hosts
      ansible.builtin.ping:

    - name: Print message
      ansible.builtin.debug:
        msg: Installing Kubernetes...

    - name: Forwarding IPv4 and letting iptables see bridged traffic
      shell:
        cmd: |
          cat <<EOF | sudo tee /etc/modules-load.d/k8s.conf
          overlay
          br_netfilterexit
          EOF

    - name: Enable overlay module
      shell:
        cmd: modprobe overlay

    - name: Enable br_netfilter module
      shell:
        cmd: modprobe br_netfilter

    - name: Save sysctl params required by setup, params persist across reboots
      shell:
        cmd: |
          cat <<EOF | sudo tee /etc/sysctl.d/k8s.conf
          net.bridge.bridge-nf-call-iptables  = 1
          net.bridge.bridge-nf-call-ip6tables = 1
          net.ipv4.ip_forward                 = 1
          EOF

    - name: Apply sysctl params without reboot
      shell:
        cmd: sysctl --system

    - name: Verify overlay is loaded
      shell:
        cmd: lsmod | grep overlay

      register: msg1

    - name: Verify br_netfilter is loaded
      shell:
        cmd: lsmod | grep br_netfilter
      register: msg2

    - name: Verify that the net.bridge.bridge-nf-call-iptables, net.bridge.bridge-nf-call-ip6tables, net.ipv4.ip_forward system variables are set to 1
      shell:
        cmd: sysctl net.bridge.bridge-nf-call-iptables net.bridge.bridge-nf-call-ip6tables net.ipv4.ip_forward
      register: msg3

    - debug: var=msg1.stdout_lines
    - debug: var=msg2.stdout_lines
    - debug: var=msg3.stdout_lines

    - name: download containerd sources
      get_url:
        url: https://github.com/containerd/containerd/releases/download/v1.6.15/containerd-1.6.15-linux-amd64.tar.gz
        dest: /etc/containerd.tar.gz

    - name: extract containerd file
      unarchive:
        src: /etc/containerd.tar.gz
        dest: /usr/local
        remote_src: yes

    - name: download containerd service file
      get_url:
        url: https://raw.githubusercontent.com/containerd/containerd/main/containerd.service
        dest: /etc/systemd/system/containerd.service

    - name: systemctl daemon-reload
      ansible.builtin.systemd:
        daemon_reload: yes

    - name: Enable service httpd and ensure it is not masked
      ansible.builtin.systemd:
        name: containerd
        enabled: yes
        masked: no
        state: started

    - name: Download runc.amd64
      get_url:
        url: https://github.com/opencontainers/runc/releases/download/v1.1.4/runc.amd64
        dest: /etc/runc.amd64

    - name: Install runc.amd64
      shell:
        cmd: install -m 755 /etc/runc.amd64 /usr/local/sbin/runc

    - name: Download CNI Plugins
      get_url:
        url: https://github.com/containernetworking/plugins/releases/download/v1.1.1/cni-plugins-linux-amd64-v1.1.1.tgz
        dest: /etc/cni-plugins.tgz

    - name: Create /opt/cni/bin Directory
      file:
        path: /opt/cni/bin
        state: directory

    - name: Extract cni-plugins file
      unarchive:
        src: /etc/cni-plugins.tgz
        dest: /opt/cni/bin
        remote_src: yes

    - name: Install kubelet, kubeadm, kubectl (Ubuntu)
      when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Ubuntu'
      block:
        - name: Update apt and install apt-transport-https, ca-certificates, curl
          apt:
            update_cache: yes
            pkg:
              - apt-transport-https
              - ca-certificates
              - curl

        - name: Create /etc/apt/keyrings/ Directory
          file:
            path: /etc/apt/keyrings/
            state: directory

        - name: Download apt-key.gpg
          get_url:
            url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
            dest: /etc/apt/keyrings/kubernetes-archive-keyring.gpg

        - name: Update APT sources list
          shell:
            cmd: echo "deb [signed-by=/etc/apt/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee /etc/apt/sources.list.d/kubernetes.list
        
        - name: Update apt and install kubelet, kubeadm, kubectl
          apt:
            update_cache: yes
            pkg:
              - kubelet
              - kubeadm
              - kubectl

        - name: Prevent kubelet from being upgraded
          ansible.builtin.dpkg_selections:
            name: kubelet
            selection: hold

        - name: Prevent kubeadm from being upgraded
          ansible.builtin.dpkg_selections:
            name: kubeadm
            selection: hold

        - name: Prevent kubectl from being upgraded
          ansible.builtin.dpkg_selections:
            name: kubectl
            selection: hold

    - name: Install kubelet, kubeadm, kubectl (RHEL)
      when: ansible_facts['distribution'] == 'CentOS' or ansible_facts['distribution'] == 'RedHat'
      block:
        - name: Creating /etc/yum.repos.d/kubernetes.repo
          copy:
            dest: "/etc/yum.repos.d/kubernetes.repo"
            content: |
              [kubernetes]
              name=Kubernetes
              baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-{{ ansible_facts['architecture'] }}
              enabled=1
              gpgcheck=1
              gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
              exclude=kubelet kubeadm kubectl
        - name: Set SELinux in permissive mode (effectively disabling it)
          shell:
            cmd: setenforce 0
        - name: Update /etc/selinux/config, Set SELINUX=permissive
          shell:
            cmd: sed -i 's/^SELINUX=enforcing$/SELINUX=permissive/' /etc/selinux/config
        
        - name: Update yum and install kubelet, kubeadm, kubectl
          yum:
            disable_excludes: kubernetes
            name:
              - kubelet
              - kubeadm
              - kubectl
            state: present